<div class="sidebar-header">
    <img class="logo-2" src="/assets/logo2.png">
</div>

<hr>

<div class="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li *ngFor="let sidebarLink of sidebarLinks" class="nav-item">
            <a class="button-sidebar" (click)="changeEntityType(sidebarLink.type)">
                <span>{{ sidebarLink.title }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="button-sidebar" (click)="clearStorage()">
                <span>Reset History</span>
            </a>
        </li>
    </ul>
</div>
