.sidebar-header {
    text-align: center;
}

.sidebar-header-text {
    position: relative;
    font-family:'Seravek',sans-serif;
    color:#DBE2EF;
    text-align: center;
}

.sidebar-nav {
    text-align: center;
    margin-top: 150px;
}
