.sidebar-header {
    padding: 15px 40px;
    margin: 0;
    display: block;
    position: relative;
}

.sidebar-header-text {
    position: relative;
}

.sidebar-nav {
    text-align: center;
    margin-left: -50px;
    list-style: none;
}
