.sidebar-header {
  padding: 15px 40px;
  margin: 0;
  display: block;
  position: relative;
}

.sidebar-header-text {
  position: relative;
}

.sidebar-nav {
  margin: 50px 50px;
  display: block;
  list-style: none;
}
