<div class="home-wrapper padding">
    <div class="home-header">
        <h2>Music Encyclopedia</h2>
    </div>
    <hr>
    <div class="home-body">
        <p>
            Select an option on the sidebar!
        </p>
        <p>
            Third-Party APIs that this application utilizes:
        </p>
        <ul>
            <li>
                MusicBrainz
            </li>
            <li>
                MediaWiki
            </li>
            <li>
                LastFm
            </li>
        </ul>
    </div>
</div>
