<div class="search-form padding">
    <form [formGroup]="searchBox" (ngSubmit)="searchArtist()">
        <label>
            <input type="text" class="search-field" formControlName="artistSearchTerm">
            <button type="submit" class="button-search" [disabled]="!searchBox.valid">Search</button>
        </label>
    </form>
</div>

<div *ngIf="loading; else loaded" class="spinner-wrapper">
    <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<ng-template #loaded>

<div class="results-wrapper padding">
    <div *ngIf="searchResults === null">
        <h5>No results.</h5>
    </div>

    <div *ngIf="searchResults && searchResults.length > 0">
        <h5>Results for "{{ this.artistSearchTerm }}":</h5>
        <div class="search-results padding">
            <div *ngFor="let result of searchResults">
                <p>
                    <a class="search-result"
                       [routerLink]="['details', result.id]"
                       [queryParams]="{artistSearchTerm: artistSearchTerm}"
                    >
                        <span>
                            {{ result.name }}<br>
                            {{ result.country }}
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

</ng-template>
