<div *ngIf="loading; else loaded" class="spinner-wrapper">
    <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<ng-template #loaded>
    <div class="details-wrapper padding">
        <div class="release-group-details">
            <div class="back-button-wrapper">
                <a (click)="back()"
                   class="dashboard-fa-button"
                   title="Back to Search Results">
                    <i class="fa-solid fa-circle-left fa-2x"></i>
                </a>
            </div>

            <div class="release-group-column">
            </div>
            <div class="release-group-column">
                <h1>{{ releaseGroup.title }}</h1>
            </div>
            <div class="release-group-column">
            </div>
        </div>
    </div>

</ng-template>
