.app-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  background: lightgrey;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 300px;
  background: floralwhite;
  padding: 30px 15px;
}

.dashboard {
  position: relative;
  float: right;
  width: calc(100% - 400px);
  background: ghostwhite;
  margin-top: 50px;
  margin-right: 50px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}
